.socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;

  transition: background-color 250ms var(--timing-function);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}

.socials-link:hover .social-icon,
.socials-link:focus .social-icon {
  fill: var(--primery-white-color);
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  fill: var(--icon-color);

  transition: fill 250ms var(--timing-function);
}
