:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --hero-background-color: #c4c4c4;
  --portfolio-buttons-font-color: #f5f4fa;
  --header-bg-color: #2f303a;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
