.page-header {
  background-color: var(--primery-white-color);
  border-bottom: solid 1px #ececec;
}

.header {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 40px;
}

.site-nav .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  content: '';

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-us {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-us .item + .item {
  margin-left: 50px;
}

.contact-us .link {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-us .link:hover,
.contact-us .link:focus {
  color: var(--accent-color);
}
